.container-exit {
    position: relative;
    top: 50px;
    left: 100px;
    color: white;
    background-color: #305DFF;
    text-decoration: none;
    font-size: 24px;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
}

.container-group {
    text-align: center;
    margin-top: 200px;
}

.container-group-exit {}

.container-group {
    font-weight: bold;
}

.container-group a {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
    color: #305DFF;
}