.container {
    margin: 50px 0px 0px 100px;
}

.container-text {
    margin: -27px 0px 0px 50px;
}

.container-exit {
    color: white;
    background-color: #305DFF;
    text-decoration: none;
    font-size: 24px;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
}

.container-text {
    color: #305DFF;
    font-weight: bold;
}

.container-box {
    background-color: #305DFF;
    width: 50%;
    height: 50%;
    border-radius: 3px;
}

.container-box-sub,
.container-box-shop,
.container-box-date,
.container-box-time,
.container-box-number {
    color: white;
}

.container-box-delete {
    color: white;
    margin: 0px 0px 0px 100px;
}