.container {
    margin: 50px 0px 0px 100px;
}

.container-text {
    margin: -27px 0px 0px 50px;
}

.container-exit {
    color: white;
    background-color: #305DFF;
    text-decoration: none;
    font-size: 24px;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
}

.container-text {
    color: #305DFF;
    font-weight: bold;
}

.container-group {
    display: flex;
    justify-content: flex-end;
    margin: -30px 80px 0px 0px;
}

.container-group-bar {
    width: 465px;
    height: 30px;
    padding-top: 3px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container-group-bar .container-group-bar-dropdown:last-of-type,
.container-group-bar .container-group-bar-dropdown:first-of-type {
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: 1px solid #E2E2E2;
}

.container-group-bar-dropdown {
    width: 80px;
}

.container-group-bar-input {
    flex-grow: 1;
    border: none;
    background-color: #FFFFFF;
}


.wrapper {
    display: grid;
    grid-template-rows: 25px 300px 0px 300px 0px 300px 0px 300px 0px 300px;
    grid-template-columns: 0.6fr 1.55fr 0.1fr 1.55fr 0.1fr 1.55fr 0.1fr 1.55fr 0.5fr;
}

/* 1行目 */
.wrapper-box {
    position: relative;
    grid-column: 2/3;
    grid-row: 2/3;
}

.wrapper-box_two {
    position: relative;
    grid-column: 4/5;
    grid-row: 2/3;
}

.wrapper-box_three {
    position: relative;
    grid-column: 6/7;
    grid-row: 2/3;
}

.wrapper-box_four {
    position: relative;
    grid-column: 8/9;
    grid-row: 2/3;
}

/* 2行目 */
.wrapper-box_five {
    position: relative;
    grid-column: 2/3;
    grid-row: 4/5;
}

.wrapper-box_six {
    position: relative;
    grid-column: 4/5;
    grid-row: 4/5;
}

.wrapper-box_seven {
    position: relative;
    grid-column: 6/7;
    grid-row: 4/5;
}

.wrapper-box_eight {
    position: relative;
    grid-column: 8/9;
    grid-row: 4/5;
}

/* 3行目 */
.wrapper-box_nine {
    position: relative;
    grid-column: 2/3;
    grid-row: 6/7;
}

.wrapper-box_ten {
    position: relative;
    grid-column: 4/5;
    grid-row: 6/7;
}

.wrapper-box_eleven {
    position: relative;
    grid-column: 6/7;
    grid-row: 6/7;
}

.wrapper-box_twelve {
    position: relative;
    grid-column: 8/9;
    grid-row: 6/7;
}

/* 4行目 */
.wrapper-box_thirteen {
    position: relative;
    grid-column: 2/3;
    grid-row: 8/9;
}

.wrapper-box_fourteen {
    position: relative;
    grid-column: 4/5;
    grid-row: 8/9;
}

.wrapper-box_fifteen {
    position: relative;
    grid-column: 6/7;
    grid-row: 8/9;
}

.wrapper-box_sixteen {
    position: relative;
    grid-column: 8/9;
    grid-row: 8/9;
}

/* 5行目 */
.wrapper-box_seventeen {
    position: relative;
    grid-column: 2/3;
    grid-row: 10/11;
}

.wrapper-box_eighteen {
    position: relative;
    grid-column: 4/5;
    grid-row: 10/11;
}

.wrapper-box_nineteen {
    position: relative;
    grid-column: 6/7;
    grid-row: 10/11;
}

.wrapper-box_twenty {
    position: relative;
    grid-column: 8/9;
    grid-row: 10/11;
}


.wrapper-box-img img {
    width: 100%;
    max-width: 248px;
    height: auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.wrapper-box-content {
    position: absolute;
    top: 135px;
    width: 100%;
    width: 248px;
    height: 120px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-top: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.wrapper-box-content-ttl {
    font-size: 15px;
    margin: 0px 0px 0px 10px;
}

.wrapper-box-content-text {
    font-size: 13px;
    margin: 0px 0px 10px 10px;
}

.wrapper-box-content-cat {
    margin-left: 10px;
    font-size: 15px;
    padding: 5px 15px;
    background: #305DFF;
    margin-bottom: 15px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    border: none;
}

.wrapper-box-content-heart {
    background: none;
    border: none;
    position: absolute;
    bottom: 10px;
    left: 170px;
    width: 40px;
    height: 40px;
}

.fa-solid.fa-heart {
    font-size: 24px;
}